<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziggy.coffriend">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserProfileActivity" />
        <activity
            android:name=".AppBaseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".HostDetailActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ChatListActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".HistoryDetailActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".CreateHostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".FinishActivity" />
        <activity
            android:name=".ReportActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ChoiceInterestActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".CreateHostTopicActivity"></activity>
    </application>

</manifest>